{% extends 'base.html' %} 
{% block content %} 
<!-- Header--> 
<header class="bg-dark py-5"> 
    <div class="container px-4 px-lg-5 my-5"> 
        <div class="text-center text-white"> 
            <h1 class="display-4 fw-bolder">About Us</h1> 
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Simalumba-Ecommerce Zambian OnlineShop...</p> 
        </div> 
    </div> 
</header> 
<div class="container"> 
    <div class="row">
        <div class="col-8">
          <p align="justify"> 
            Simalumba Ecommerce Online Shop is a Zambian-based online marketplace founded by Mubita Simalumba, the chairperson. Launched on October 19, 2025, our platform aims to bridge the gap between buyers and sellers in Zambia and beyond. Our mission is to provide a seamless online shopping experience, showcasing a wide range of products that cater to diverse tastes and preferences.</p>
       
            <h2>Our Product Range</h2>
            <p>At Simalumba Ecommerce, we offer a vast array of products, including brand new and second-hand items. Our inventory features an eclectic mix of local Zambian products and international goods, ensuring that our customers have access to unique and high-quality items. Some of the products you can find in our online shop include:</p>
            <ul>
                <li>Phones</li>
                <li>TVs</li>
                <li>Projectors</li>
                <li>Fashion items (clothing, accessories, etc.)</li>
                <li>Home appliances</li>
                <li>Electronics</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Our Vision</h2>
            <p>Our vision is to become the go-to online marketplace in Zambia, providing a platform where buyers and sellers can connect and transact with ease. We strive to build a community that values quality, reliability, and excellent customer service. Whether you're looking for something locally made or an international brand, Simalumba Ecommerce Online Shop is your one-stop destination.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Why Choose Us?</h2>
            <ul>
                <li>Convenient online shopping experience</li>
                <li>Wide range of products to choose from</li>
                <li>Competitive prices</li>
                <li>Excellent customer service</li>
                <li>Secure payment options</li>
                <li>Fast and reliable delivery</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Get in Touch</h2>
            <p>We're always here to help! If you have any questions or concerns, feel free to reach out to us through:</p>
            <p>Phone: 0962448100</p>
            <p>Our contact page (link)</p>
            <p>Social media channels (links)</p>
        <br/><br/>
        </div>
    </div>
</div>
{% endblock %}
